body {
    background-color: rgb(134, 134, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: rgb(21, 2, 5);
}

ul li {
    display: flex;
    flex-direction: column;    
}

.programes {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: brown;
}

